#search_container {
    margin: 0 auto;
    width: 460px;
    border: 1px solid #d9d9d9;
    background-color: #f2f2f2;
}

.search_header {
    width: 450px;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
}

.search_header p {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.search_box {
    padding-left: 10px;
    margin-bottom: 5px;
}

.search_box input[type=text] {
    width: 140px;
    height: 13px;
}

.search_control {
    padding-left: 194px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search_control input[type=submit] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    padding: 1px 7px;
    display: inline-block;
    text-decoration: none;
    background: #ffffff;
    cursor: pointer;
}

.disclaimer {
    margin-top: 5px;
    margin-bottom: 25px;
    padding-left: 124px;
}