body {
    background: url(images/background.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
}

html {
    height: 100%;
}

.bold {
    font-weight: 600;
}

.container:not(.separator) {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.container p.header {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

/*#display_historical_chart {
    width: 80%;
    min-width: 381px;
    height: 400px;
}*/

.separator {
    padding-left: 0px;
    padding-right: 0px;
}

.disclaimer {
    text-align: right;
    margin-top: 20px;
    margin-right: 47px;
}

.disclaimer_image {
    height: 30px;
    width: 145px;
}

#favorite-button {
    color: #ffffff;
}

.fb-logo {
    height: 37px;
    border-radius: 8px;
    cursor: pointer;
}

.glyphicon-star {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#invalid-input {
    margin-top: 20px;
    visibility: hidden;
}

.make-red {
    color: #ff0000;
}

.news_description {
    margin-bottom: 30px;
}

#news_feed {
    font-size: 13px;
}

.panel-default {
    margin-top: 5px;
}

.profit-loss-thumbnail {
    height: 32px;
    padding-left: 10px;
}

#stockDetailsChart {
    width: 100%;
}

.table-view {
    position: relative;
}

.table-scrollable {
    overflow: auto;
}


/*Override default bootstrap styles */
.col-xs-5 {
    padding-left: 10px;
    padding-right: 0px;
}

.col-xs-7 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-4 {
    text-align: right;
    padding-right: 10px;
}

.col-sm-11 {
    text-align: center;
}

.col-xs-11 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-xs-1 {
    padding-left: 10px;
    padding-right: 0px;
}

.table-striped {
    width: 100%;
    font-size: 12px;
}

.table-striped tr th, tr td {
    padding-left: 10px;
    line-height: 40px;
    border-top: 1px solid #e3e3e3;
}

#company-details-table.table-striped tr th {
    width: 50%;
}

@media (max-width: 768px) {
    .col-xs-6 {
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-xs-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    #stockDetailsChart {
        margin-top: 15px;
    }
    .pills-text-full {
        display: none;
    }
    .pills-text-short {
        display: inline;
    }
    .favorite-button-div {
        z-index: 1;
    }
    .fb-button-div {
        z-index: 1;
    }
}

@media (max-width: 1170px) {
    /*#favorite-panel {
        overflow-x: scroll;
    }*/
}

@media (min-width: 768px) {
    .save-logos .col-sm-1 {
        margin-right: 10px;
    }
    .favorite-button-div {
        margin-left: 10px;
    }
    .pills-text-full {
        display: inline;
    }
    .pills-text-short {
        display: none;
    }
}