body {
    height: 100%;
    background: url('http://cs-server.usc.edu:45678/hw/hw3/images/background.png') repeat-x;
    background-color: #faf9ed;
    /*background-size: contain;*/
    margin: 0;
}
#main-container {
    width: 940px;
    margin: 0 auto;
}
#cover-image {
    /*position: absolute;*/
    width: 900px;
    margin: 0 auto;
    background: url('http://cs-server.usc.edu:45678/hw/hw3/images/main.jpg') no-repeat center;
    height: 354px;
}
.cover-desc {
    position: absolute;
    padding-top: 217px;
    padding-left: 580px;
    font-family: "Times New Roman", Times, Serif;
    width: 220px;
}
.cover-desc span {
    font-size: 30px;
    font-weight: bold;
}
.cover-desc p {
    color: #756707;
    font-size: 21px;
    font-weight: bold;
    overflow: hidden;
    margin-top: -5px;
}
#menu-bar {
    width: 940px;
    margin: 0px auto 0 auto;
    position: relative;
}
ul {
    list-style-type: none;
    padding-left: 0px;
    height: 69px;
    overflow: hidden;
    background: url('http://cs-server.usc.edu:45678/hw/hw3/images/menu.png') no-repeat center;
    position: relative;
    width: 940px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.triangle-left {
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #faf9ed #faf9ed;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}
.triangle-right {
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #faf9ed #faf9ed;
    width: 0px;
    height: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}
li {
    float: left;
    padding: 14px 0px;
}
li:first-child {
    padding-left: 20px;
}
li a {
    display: inline-block;
    color: #3b3304;
    text-align: center;
    font-weight: bold;
    padding: 0 48px;
    text-decoration: none;
    /*margin-top: -30px;*/
    cursor: pointer;
    font-size: 18px;
    font-size-adjust: 0.43;
}
li a:hover {
    color: #a89d51;
}
#container {
    width: 878px;
    margin: 0px auto 0px auto;
    padding: 0 11px 0px 11px;
    background-color: #ffffff;
    font-family: "Times New Roman", Times, Serif;
    color: #061b36;
}
#container h2, #container h3 {
    margin-top: 0px;
    font-weight: bold;
}
#container h2 {
    margin-bottom: 30px;
}
#container h3 {
    margin-bottom: 0px;
}
#container h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.1;
    font-size: 14px;
}
#container h4 p {
    margin-top: 0px;
}
#container a {
    text-decoration: none;
    color: #e3c712;
    font-weight: bolder;
    cursor: pointer;
}
.clearfix {
    overflow: auto;
}
#target-container p {
    margin-bottom: 60px;
    font-size:16px;

}